{% extends 'base.html' %}

{% block  content_active_cart %}active{% endblock %}

{% block content %}
<h2 class="go_center">我的餐車</h2>
<hr>
<br>
<style>
  .table {
    padding: 20px;
  }
</style>
<div class='table'>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">餐點</th>
        <th scope="col">價錢</th>
        <th scope="col">份量</th>
        <th scope="col">小計</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>
    <tbody>
      {% for user_order_all in user_order_all_list %}
      <tr>
        <td>{{ user_order_all.0 }}</td>
        <td>{{ user_order_all.1 }}</td>
        <td>{{ user_order_all.2 }}</td>
        <td>{{ user_order_all.3 }}</td>
        {% if can_order %}
        <td><a href="/food/order/{{ user_order_all.4 }}"><button class="btn btn-outline-dark" type="submit">更改</button></a></td>
        {% else %}
        <td><button class="btn btn-outline-dark" type="submit" disabled>更改</button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<h3 class="go_center">總價:{{ total_price }}</h3>
{% if user_need_to_pay %}
<br>
<h4 class="go_center">還有{{ request.user.useradditionalinformation.money_to_pay }}元沒交</h4>
<div class="go_center"><a href="/food/pay_money"><button class="btn btn-outline-dark" type="submit">繳錢</button></a></div>
<br>
{% else%}
{% if user_order %}
<br>
<h3 class="go_center">已經繳玩錢囉🤪</h3>
<br>
{% endif %}
{% endif %}
{% endblock %}
